@model RickAndMorty.Models.EpisodeViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Episode</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.air_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.air_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.episode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.episode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created)
        </dd>

    </dl>
</div>
<h2>Characters</h2>
<table class="table">
    <thead>
        <tr>
            <td>
                <b>Name</b>
            </td>
            <td>
                <b>Gender</b>
            </td>
            <td>
                <b>Spceies</b>
            </td>
            <td>
                <b>Status</b>
            </td>

        </tr>
   
    </thead>


    @foreach (var item in Model.characters)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.species)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                <img src="@item.image" class="col-md-pull-1" width="100" />
            </td>
            
        </tr>


    }
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
