@model RickAndMorty.Models.Episode

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Episode</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.air_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.air_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.espisode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.espisode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
